<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Know\Module\Api\CustomApiInterface">
        <arguments>
            <argument name="productRepository" xsi:type="object">Magento\Catalog\Api\ProductRepositoryInterface</argument>
        </arguments>
    </type>
    <preference for="Know\Module\Api\CustomApiInterface" type="Know\Module\Model\CustomApi" />
</config>